@media only screen and (max-width: 800px) {
    main {
        width: 80%;
        margin: 0 auto;
        position: absolute;
        top: 15%;
        left: 10%;

    }
    
    main h2 {
        font-weight: normal;
    }
}

@media only screen and (min-width: 801px) {
    .App {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 100vh;
    }

    main {
        flex: 5;
    }

    .MainContent {
        margin-left: 50px;
        top: 15%;
        position: absolute;
        width: 70%;
        height: 70%;
    }

    aside {
        background: rgba(54,73,89,1);
background: -moz-linear-gradient(left, rgba(54,73,89,1) 0%, rgba(46,63,77,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(54,73,89,1)), color-stop(100%, rgba(46,63,77,1)));
background: -webkit-linear-gradient(left, rgba(54,73,89,1) 0%, rgba(46,63,77,1) 100%);
background: -o-linear-gradient(left, rgba(54,73,89,1) 0%, rgba(46,63,77,1) 100%);
background: -ms-linear-gradient(left, rgba(54,73,89,1) 0%, rgba(46,63,77,1) 100%);
background: linear-gradient(to right, rgba(54,73,89,1) 0%, rgba(46,63,77,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#364959', endColorstr='#2e3f4d', GradientType=1 );
        color: white;
        flex: 1;
        width: 250px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .App h2 {
        font-weight: normal;
        padding: 0;
        margin: 0;
    }
}


