footer {
    position: fixed;
    left: -5px;
    top: 35%;
    background: white;
    border: 1px solid var(--med-blue);
    border-radius: 0 10px 10px 0 ;
    height: 200px;
    width: 50px;
    
}

.ToggleFooter-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.ToggleFooter-strip {
    width: 25%;
    height: 50%;
    margin: 0 auto;
    background-color: white;
    border: 1px solid var(--med-blue);
    border-radius: 10px;
}

.ToggleFooter-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--med-blue);
    background: white;
    position: relative;
    top: 0;
    left: 0;
}

.ToggleFooter-main button {
    background: none;
    border: none;
    cursor: pointer;
}

.ToggleFooter-main svg {
    color: var(--med-blue);
    font-size: 25px;
    align-self: center;
}

