@media only screen and (max-width: 800px) {
    .Contact-info {
        margin-top: 0;
        padding: 0;
        text-align: center;
    }
    
    .Contact-info p {
        margin-top: 75px;
        font-size: 18px;
        line-height: 30px;
    }
    
    .Contact-info code {
        padding-left: 5px;
    }
    
    .Contact-info code:hover {
        background-color: var(--med-blue);
        padding: 5px;
    }
    
    .Contact-info a:hover {
        color: white;
    }
    
    .Contact-info a {
        color: var(--med-blue);
        text-transform: none;
        text-decoration: none;
    }
    
    .Contact-info svg {
        color: var(--med-blue);
    }
    
    .Contact-info svg:hover {
        color: var(--blue);
    }    
}

@media only screen and (min-width: 801px) {
    .Contact-info {
        width: 80%;
        margin-top: 0px;
        margin-right: 0px;
    }
    
    .Contact-info p {
        margin-top: 75px;
        font-size: 20px;
    }
    
    .Contact-info code {
        padding-left: 5px;
    }
    
    .Contact-info a:hover {
        color: var(--blue);
    }
    
    .Contact-info a {
        color: var(--med-blue);
        text-transform: none;
        text-decoration: none;
    }
}



