.Contact-info {
    margin-top: 125px;
}

.Contact-info p {
    font-size: 20px;
}

.Contact-info code {
    padding-left: 5px;
}

.Contact-info code:hover {
    background-color: var(--med-blue);
    padding: 5px;
}

.Contact-info a:hover {
    color: white;
}

.Contact-info a {
    color: var(--med-blue);
    text-transform: none;
    text-decoration: none;

}

.Contact-info svg {
    color: var(--med-blue);
}

.Contact-info svg:hover {
    color: var(--blue);
}