// CUSTOM STYLING - Keep to a minimum if possible

// SP Colors 
$dark: #24272B;
$extra-dark: #1A1C1F;
$red: #AF5050;
$grey: #BCBCBC;
$salmon: #FA6F6F;


// Updating Bulma's global vars
$link: $red;
$grey-light: $grey;
$info: $salmon;
$black-ter: $extra-dark;
$white-ter: $grey;
$box-background-color: $extra-dark;
$box-color: $grey;
$box-radius: 3px;
$box-padding: 25px;
$tabs-border-bottom-color: $grey;
$tabs-link-color: $grey;
$tabs-link-hover-color: $link;
$tabs-link-hover-border-bottom-color: $link;
$tabs-link-active-color: $salmon;
$tabs-link-active-border-bottom-color: $salmon;

html body {
    height: 100vh;
    background-color: $dark;
    main.container,
    .main--content {
        margin-bottom: 25px;

        @media (min-width: 768px) {
            margin-bottom: 75px;
        }

        div.columns {
            display: flex;
            flex-direction: row; 
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap; 

            @media (min-width: 768px) {
                display: flex;
                flex-direction: row;
            }
        }

        .section.is-small {
            text-align: left;
            padding-top: 45px !important;
            padding: 3rem 12px;

            @media only screen and (min-width: 600px) {
                padding-top: 50px !important;
                padding-left: 0 !important;
                padding-right: 0 !important;
            } 


        }
    }
    

}

// MAIN CONTENT UPDATES
main {
    h1.title,
    h2.title,
    h3.title,
    h4.title,
    h5.title,
    h6.title {
        color: $grey;
        @media only screen and (min-width: 600px) {
            width: 60%; 
        }
    }

    .main--content {
        @media only screen and (min-width: 600px) {
            width: 60%; 
        }

        p strong {
            color: $salmon;
        }
    }
    div.media {
        .media-left {
            .image img {
                width: 100px !important;
                height: 100% !important;
            }
        }
    }

}

nav.navbar {
    .container {
        a.navbar-item {
            color: $grey;

            &:hover {
                color: $info;
            }
        }
    }
}

// ICONS
.columns .column svg {
    color: $info;
    &:hover {
        color: $link;
    }
}


footer.card-footer {
    position: initial;
    width: initial; 
    height: 100%;
}


footer,
footer.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;

    @media only screen and (min-width: 600px) {
        padding: 30px;
    }

    background-color: $extra-dark;
    color: $grey;
    
    p {
    font-size: 10px;
    text-align: center;

    @media only screen and (min-width: 600px) {
        font-size: 12px;
        text-align: left;
        }
    }
    
    

    a,
    span {
        color: $info;
    }

    a {
        &:hover {
            color: $link;
            text-decoration: underline;
        }
    }
}

div.level-left .icon {
    &:hover {
        color: $info;
    }
}


/* BULMA IMPORTS */
@import '../node_modules/bulma/bulma.sass';

