// CUSTOM STYLING - Keep to a minimum if possible

// SP Colors 
$dark: #24272B;
$extra-dark: #1A1C1F;
$red: #AF5050;
$grey: #BCBCBC;
$salmon: #FA6F6F;


// Updating Bulma's global vars
$link: $red;
$grey-light: $grey;
$info: $salmon;
$black-ter: $extra-dark;
$white-ter: $grey;
$box-background-color: $extra-dark;
$box-color: $grey;
$box-radius: 3px;
$box-padding: 25px;
$tabs-border-bottom-color: $grey;
$tabs-link-color: $grey;
$tabs-link-hover-color: $link;
$tabs-link-hover-border-bottom-color: $link;
$tabs-link-active-color: $salmon;
$tabs-link-active-border-bottom-color: $salmon;

// SASS Components
@import 'scss/_App.scss';
@import 'scss/_MainContent.scss';
@import 'scss/_Music.scss';
@import 'scss/_PortfolioCards.scss';

// @import '../node_modules/bulma/bulma.sass';
@import '../node_modules/foundation/scss/foundation.scss';
