:root {
  --dark: #0D0D0D;
  --blue: #364959; 
  --white: #FFFFFF; 
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0 0 10px 0;
  padding: 0;
  font-family: Roboto;
  color: var(--dark);
}
