@media only screen and (max-width: 800px) {
    .PortfolioApp-main {
        border: 2px solid var(--dark-red);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        margin-bottom: 45px;
        -moz-box-shadow:    3px 3px 5px 6px var(--med-blue-shadow);
        -webkit-box-shadow: 3px 3px 5px 6px var(--med-blue-shadow);
        box-shadow:         3px 3px 5px 6px var(--med-blue-shadow);
    }

    .PortfolioApp-main h2 {
        margin-bottom: 15px;
    }

    .PortfolioApp-info h3 {
        text-align: center;
    }
    
    .PortfolioApp-main img {
        width: 100%;
        height: 100%;
        align-self: center;
        margin-bottom: 10px;
        border-bottom: 1px solid var(--med-blue);
        -moz-box-shadow:    3px 3px 5px 6px var(--med-blue-shadow);
        -webkit-box-shadow: 3px 3px 5px 6px var(--med-blue-shadow);
        box-shadow:         3px 3px 5px 6px var(--med-blue-shadow);

    }
    
    .PortfolioApp-info {
        padding: 0;
        width: 100%;
    
    }
    
    .PortfolioApp-info p {
        line-height: 25px; 
        padding-bottom: 5px;
        width: 70%;
        margin: 0 auto;
        padding-bottom: 25px;
    }
    
    .PortfolioApp-links {
        background-color: var(--dark-red);
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 10px 5px;
    }
    
    .PortfolioApp-links button {
        border-radius: 0;
        width: 100%;
        background: none;
        color: white;
        border: none;
        font-size: 25px;
        text-align: center;
        align-self: center;
        cursor: pointer;
    }
    
    .PortfolioApp-links button:hover {
        color: var(--red);
    }
    
    .PortfolioApp-tags {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: var(--med-blue);
        width: 100%;
        border: none;
    }
    
    .PortfolioApp-tags button {
        background-color: var(--dark);
        color: white;
        border: none;
        font-size: 12px;
        padding: 7px;
    }    
}

@media only screen and (min-width: 801px) {
    .PortfolioApp-main {
        border: 2px solid var(--med-blue);
        width: 80%;
        max-width: 750px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: flex-start;
        margin: 0 0 35px 0;
        -moz-box-shadow: 3px 3px 5px 6px var(--med-blue-shadow);
        -webkit-box-shadow: 3px 3px 5px 6px var(--med-blue-shadow);
        box-shadow: 3px 3px 5px 6px var(--med-blue-shadow);
    }
    
    .PortfolioApp-main img {
        width: 200px;
        height: 100%;
        align-self: center;
        margin-left: 25px;
        border: 2px solid var(--med-blue);
    }
    
    .PortfolioApp-info {
        padding: 0 0 0 20px;
        width: 80%;
    
    }
    
    .PortfolioApp-info p {
        line-height: 25px; 
        padding-bottom: 5px;
        width: 70%;
    }
    
    .PortfolioApp-links {
        background-color: var(--med-blue);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0 10px;
    }
    
    .PortfolioApp-links button {
        border-radius: 0;
        width: 100%;
        background: none;
        color: white;
        border: none;
        font-size: 25px;
        text-align: center;
        align-self: center;
        cursor: pointer;
    }
    
    .PortfolioApp-links button:hover {
        color: var(--red);
    }
    
    .PortfolioApp-tags {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: var(--med-blue);
        width: 100%;
    }
    
    
    
    .PortfolioApp-tags button {
        background-color: var(--med-blue);
        color: white;
        border: none;
        border-radius: 10px;
        margin-right: 10px;
        font-size: 10px;
        padding: 7px;
    }
}


