.AboutMeSection {
    width: 80%;
}

.AboutMeSection p {
    padding-top: 25px;
    line-height: 25px;
    font-size: 20px;
}

.AboutMeSkills h3 {
    text-transform: uppercase;
    text-align: left;

}

.AboutMeSkills {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.AboutMeSkills svg {
    color: var(--dark);
    font-size: 40px;
    margin-right: 20px;
    box-shadow: var(--dark);
    background: none;
}

.AboutMeSkills svg:hover {
    color: var(--blue);
}