.MainContent-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 400px;
}

.MainContent-inner {
    align-self: center;
}

.MainContent-inner p {
    font-size: 25px;
    font-weight: lighter;
}